
*.xml
/.idea
/Integrations_with_translation_portal/.idea
/Olof's code/.idea
/Parser/.idea
*.tsv
*.pot
*.po
/Parser/__pycache__
/Parser/__pycache__
/Parser/__pycache__
Discord_bot/.env
Discord_test_bot/.env
Discord_test_bot/credentials.json
